
.SectionOne {
  max-width: 100%;
  height: 100vh;
  margin-left: 8em;
  margin-right: 8em;
}

#first {
  position: absolute !important;
  height: 100vh;
  max-width: calc(100% - 8em);
}

.section_text {
  display: flex;
  flex-direction: column;
  padding-top: 13em;
  width: 38em;
  gap: 4em;
}