
  .SectionOne {
    height: 100vh !important;
    margin-left: 8em;
  }


#first {
  position: absolute !important;
  height: 100vh;
  width: calc(100% - 8em) !important;
  z-index: -9999 !important;
}

.section_text {
  display: flex;
  flex-direction: column;
  padding-top: 13em;
  width: 38em;
  gap: 4em;
}