@use "../../styles/_colors.scss";

.animation-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;

  .sphere-animationFirst {
    position: relative;
    width: 9.3em;
    height: 9.3em;
    margin: 0;
  }

  .sphere-animationTwo {
    position: relative;
    width: 9.3em;
    height: 9.3em;
    margin: 0;
  }

  .sphere-animationThree {
    position: relative;
    width: 9.3em;
    height: 9.3em;
    margin: 0;
  }

  .sphere path {
    fill: url(#sphereGradient);
    stroke-width: 2px;
    stroke: rgba(80, 80, 80, 0.35);
  }
}
.first {
  transform: scale(1.2) translate(-8em, -9em);
  transition: all 0.2s ease-out;
}

.two {
  .sphere-animation {
    width: 11.3em;
    height: 11.3em;
  }
  transform: translate(-17em, 8em);
  transition: all 0.2s ease-out;
}

.three {
  .sphere-animation {
    width: 9em;
    height: 9em;
  }
  transform: translate(9em, 3em);
  transition: all 0.2s ease-out;
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.1em;
    transform: translate(10px, 10px);
  }
}
