@use '../../styles/_colors.scss';

.animation-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
}

.sphere-animation {
  position: absolute;
  top: -195px;
  left: -195px;
  width: 580px;
  height: 580px;
  margin: 0;
}

.sphere path {
  fill: url(#sphereGradient);
  stroke-width: 2px;
  stroke: rgba(80,80,80,.35);
}

@media (min-width: 500px) {
  .sphere path {
    stroke-width: 0.1em;
    transform: translate(10px,10px);
  }
}
