@import "./_colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://github.com/UlysseGebe/Fil-Rouge/blob/4d2301964d9fa0a91220b93becb8018d95a2d598/src/Assets/Font/OpenType-PS%20(OTF)/Moniqa-BoldNarrowHeading.otf");

$title_family: Moniqa-NarrowHeading;
$title: 4em;
$title_weight: 600;
$body_family: Inter;
$body: 1em;
$body_weight: 500;
$link: 1em;

body {
  font-size: 16px;
}

h1 {
  font-family: $title_family;
  font-size: $title;
  font-weight: $title_weight;
  color: $primary;
  line-height: 1.1em;
  text-align: left;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 2;
}

.title-group {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  .title {
    margin: 0;
    background: linear-gradient(transparent, transparent),
      linear-gradient($secondary, $secondary);
    background-size: 100% 0.1em, 0 0.05em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    width: max-content;
  }

  .title:hover,
  .title:focus {
    background-size: 0 0.1em, 100% 0.05em;
  }
}

p {
  line-height: 1.5em;
  color: $primary;
  font-family: $body_family;
  font-weight: $body_weight;
  text-align: left;
}

span {
  color: $secondary;
}

a {
  color: $primary;
  font-family: $body_family;
  font-size: $link;
  font-weight: $body_weight;
  text-align: left;
  text-decoration: none;
}

ul {
  color: $primary;
  font-family: $body_family;
  font-size: $link;
  font-weight: $body_weight;
  text-align: left;
  text-decoration: none;
}

div {
  color: $primary;
  font-family: $body_family;
  font-size: $link;
  font-weight: $body_weight;
  text-align: left;
  text-decoration: none;
}
