@use "../../styles/_colors.scss";
@use "../../styles/_general";
@use "../../styles/_spacing";
@use "../../styles/_typo";

$transition-card: all 0.5s ease-out;


html {
  overflow: hidden;
}

.SectionCards {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  justify-content: space-between;
  height: 100vh;

  .header_container {
      position: sticky;
    left: 0;
  }


  .cards {
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    width: 200vw;
    transform: translateY(-10%);


    .row {
        display: flex;
        margin-left: auto;
        margin-right: auto;
      scroll-snap-align: center;


      .card {
        display: flex;
        flex-direction: column;
        margin: 0.25em 2.3em;
        gap: 2em;
        height: 100% !important;
        cursor: pointer;


        .card-img {
          will-change: transform;
          width: 13.625em;
          height: 24.06em;
          overflow: hidden;
          border-radius: 20px;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .tilty-glare {
          background: radial-gradient(140.84% 140.85% at 50.92% 139.66%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) !important;
        }

         /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;



        .card-name {
          text-align: center;
        }

        div {
          text-align: center;
          will-change: opacity;
        }
      }
        }
      }
    }

    .ltr {
      .row:first-child {

        .card[index="3"] {
          transition: $transition-card;
          transform: rotate(25deg);
        }

        .card[index="2"] {
          transition: $transition-card;
          transform: rotate(20deg);
        }

        .card[index="1"] {
          transition: $transition-card;
          transform: rotate(15deg);
        }

        .card[index="0"] {
          transition: $transition-card;
          transform: rotate(10deg);
        }
      }


      .row:last-child {

        .card[index="3"] {
          transition: $transition-card;
          transform: rotate(25deg);
        }

        .card[index="2"] {
          transition: $transition-card;
          transform: rotate(20deg);
        }

        .card[index="1"] {
          transition: $transition-card;
          transform: rotate(15deg);
        }

        .card[index="0"] {
          transition: $transition-card;
          transform: rotate(10deg);
        }
      }

    }

.rtl {
  .row:first-child {
    .card[index="0"] {
      transition: $transition-card;
      transform: rotate(-30deg);
    }

    .card[index="1"] {
      transition: $transition-card;
      transform: rotate(-20deg);
    }

    .card[index="2"] {
      transition: $transition-card;
      transform: rotate(-15deg);
    }

    .card[index="3"] {
      transition: $transition-card;
      transform: rotate(-10deg);
    }
  }

  .row:last-child {
    .card[index="0"] {
      transition: $transition-card;
      transform: rotate(-30deg);
    }

    .card[index="1"] {
      transition: $transition-card;
      transform: rotate(-20deg);
    }

    .card[index="2"] {
      transition: $transition-card;
      transform: rotate(-15deg);
    }

    .card[index="3"] {
      transition: $transition-card;
      transform: rotate(-10deg);
    }
  }

  }

.hamburger {
  position: fixed;
  height: 100%;
  top: 0;
  right: 5vw;
  display: flex;
  align-items: center;

  .ham {
    width: 4em;
    height: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .ham:before,
  .ham:after{
    content: "";
    position: relative;
    top: 0;
    right: 0;
    width: 4em;
    height: 0.15em;
    background-color: #F1F1F1;
    transition: transform 0.4s ease-out;
    will-change: transform;
  }

  .ham:hover:before {
    transform: translateX(20%);
  }

  .ham:hover:after {
    transform: translateX(-20%);

  }
}

.nav {
  display: flex;
  position: sticky;
  left: 0;
  user-select: none;
  justify-content: center;
  width: 100%;
  font-size: 1.5em;
  padding-bottom: 2em;

  .prev {
      transform-origin: right center;
      transition: transform 0.5s ease-in-out;
      will-change: transform;
      cursor: pointer;
    }

    .next {
      transform-origin: left center;
      transition: transform 0.3s ease-out;
      will-change: transform;
      cursor: pointer;
    }

    .prev:hover,
    .next:hover {
      transform: scaleX(1.25);
    }
  }


  .SectionCards::-webkit-scrollbar,
  .SectionCards::-webkit-scrollbar {
    display: none;
  }
