@use '../../styles/_colors.scss';
@use '../../styles/_general';
@use '../../styles/_spacing';
@use '../../styles/_typo';

header {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 2em;
  margin-bottom: 3.5em;
  justify-content: center;
  align-items: center;
  width: 100%;

  .logo {
    width: 7.5em;
    height: 7.5em;
    background: url('../../Assets/logo.png') no-repeat center;
    background-size: cover;
  }
}